/** variables **/
:root{
--header-color: #AEC3AE;
--accent-color: #6A9C89;
--accent-color2: #6A9C89;
--bg-color: #EEEEEE;
--border-color: #798f86;
--div-bg: #D0E7D2;
--font-family: 'Quicksand', sans-serif;
}


@media only screen and (min-width: 768px) {}
.default {
  font-weight: 600;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: black;
}

/* Style the header */
.header {
    overflow: hidden;
    background-color: var(--header-color);
    padding: 20px 10px;
    border-bottom: 3px solid var(--accent-color);
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: var(--font-family);
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--font-family);
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: var(--accent-color2);
    color: white;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: var(--accent-color2);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

.personal-info {
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--div-bg);
    padding: 20px;
    margin: 40px;
    > img {
        border-radius: 50px;
        max-width: 120px;
        max-height: 120px;
    }
}

.projects {
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--div-bg);
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    > h2 {
        font-family: var(--font-family);
        text-align: center;
        border-bottom: var(--accent-color) 3px solid;
        padding: 15px;
    }
    > img {
        max-width: 150px;
        padding: 20px;
    }
    
  }
  
  .paragraph {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    padding: 20px;
    font-family: var(--font-family);
  }

.technologies {
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--div-bg);
  padding: 20px;
  margin: 40px;
}

.experience {
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--div-bg);
  padding: 20px;
  margin: 40px;
}

.education {
  
  border: 3px solid var(--accent-color);
  border-radius: 10px;
  background-color: var(--div-bg);
  padding: 20px;
  margin: 40px;
}

/* Styling for the about page */

.aboutsect{
    background-color: var(--bg-color);
    padding: 60px;
    border-top: 3px solid var(--accent-color);
}

.abtme {
    border: 6px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--div-bg);
    justify-content: flex-start;
    margin: auto;
    padding: 40px;
    color: black;

    > span {
        max-width: 400px;
        max-height: 600px;
        padding: 16px;
        line-height: 24px;
    }
}


/* Styling for Contact page */
.cform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 2rem;
  }

  label {
    display: block;
    font-size: 1.4rem;
    padding: 0 0 .5rem;
  }

  input[type="text"], input[type="email"], textarea {
    position: relative;
    width: 80%;
    padding: 1.2rem;
    line-height: 1;
    border: .1rem solid black;
    background-color: var(--header-color);
  }

  input[type="text"], input[type="email"] {
    padding-right: 3rem;
  }
  
  ::placeholder {
    font-style: italic;
  }

  input[type="submit"] {
    background-color: var(--accent-color2);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: var(--font-family);
  }

  input[type="submit"]:hover {
    background-color: #7b9d90;
  }

/* Styling for the Footer */
.footer {
    background-color: #7b9d90;
    padding: 10px;
    text-align: center;
    bottom: 0;
}

/* Style the footer links */
.footer a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    font-family: var(--font-family);
  }
